<?xml version="1.0" ?>
<settings version="1">
	<section id="service.cron.autobiblio">
		<category id="allgemein" label="30000" help="">
			<group id="1" label="30230">
				<setting id="show_warnings" type="boolean" label="30110" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="2"/>
			<group id="3" label="30231">
				<setting id="zz_dummy_01" type="action" label="30111" help="30350">
					<level>0</level>
					<data>RunPlugin(plugin://service.cron.autobiblio/?mode=delete_storage)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
			</group>
			<group id="4"/>
			<group id="5" label="30232">
				<setting id="force_removing" type="boolean" label="30112" help="30351">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="6"/>
			<group id="7" label="30233">
				<setting id="enable_debug" type="boolean" label="30113" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="program_locked" type="boolean" label="PROGRAM_LOCK" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="next_process" type="string" label="NEXT_PROCESS" help="">
					<level>0</level>
					<default>2023-12-31 23:59:59</default>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>NEXT_PROCESS</heading>
					</control>
				</setting>
			</group>
		</category>
	</section>
</settings>
