[Unit]
Description=Initialize system at first boot
Before=default.target graphical.target
ConditionPathExists=!/var/lib/.init-done

[Service]
Type=oneshot
ExecStart=/usr/bin/device-init.sh
ExecStartPost=touch /var/lib/.init-done
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
