[Unit]
Description=Update BootC Container on Boot
Documentation=https://systemd.io/
DefaultDependencies=no
Before=local-fs.target umount.target final.target shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bootc update --apply
RemainAfterExit=true

[Install]
WantedBy=multi-user.target