[Unit]
Description=Update BootC Container on Boot
Wants=network-online.target
After=systemd-remount-fs.service
Before=shutdown.target reboot.target halt.target multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bootc update --apply
RemainAfterExit=true

[Install]
WantedBy=multi-user.target